extends layout

block content
    h1 Team Pantracker
    h2 Search
    //h3 Error: #{error}

    form(method="POST" action="/users/search")
        div
            label Product:
            input(type='text', name='product')
        div
            label Postcode:
            input(type='text', name='postcode')
        button(type='submit') Login