extends views/layout

block content
    h1 Lecture5 Node and Express
    h2 Login

    form(method="POST" action="/users/login")
        div
            label User Name:
            input(type='text', placeholder='first and last' name='username')
        div
            label Password:
            input(type='password', name='password')
        button(type='submit') Login