doctype html
meta(name="viewport",content="width=device-width, initial-scale=1.0")
html
    head
        title= "Pantracker"
        link(rel='stylesheet', href='/stylesheets/index.css')
body
    div
        p#status
        form#logout_form(method="GET" action="/user/logout")
            button.login(type='submit') Logout
        script.

            function httpGet(theUrl) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp;
            };
            window.onload = function() {
                let xml = httpGet("http://localhost:3000/user/sessionId");
                let responseText = xml.responseText;
                if (responseText.length == 0) {
                    document.getElementById("status").innerText = "";
                    var login_form = document.getElementById("logout_form");
                    login_form.parentNode.removeChild(login_form);
                    var search_form = document.getElementById("product_search_form");
                    search_form.parentNode.removeChild(search_form);

                } else {
                    document.getElementById("status").innerText = "Logged in as" + " " + responseText;
                    var login_form = document.getElementById("login_form");
                    login_form.parentNode.removeChild(login_form);
                    var message = document.getElementById("not_logged_in_message");
                    message.parentNode.removeChild(message);
                }
            }
    div#content
        h1 Pantracker
        div#product-search
            h2 Search for products

            form#product_search_form(method="POST" action="/product/search")
                div
                    label Product:
                    input(type='text', name='productName')
                div
                    label Postcode:
                    input(type='text', name='postcode')
                div
                    label Depth:
                    input(type='text', name='depth')
                button.space(type='submit') Search
            p#not_logged_in_message Login or Register before searching
            form#login_form(method="GET" action="/user/")
                button(type='submit') Login/Register
        div#postcode-search
            h2 Search for nearby stores
            form(method="GET" action="/stores/search/postcode")
                div
                    label Postcode:
                    input.searchTerm(type='text', name='postcode')
                    label Radius (km):
                    input.searchTerm(type='text', name='distance')
                button.space(type='submit') Search
