doctype html
meta(name="viewport",content="width=device-width, initial-scale=1.0")
html
    head
        title= "Pantracker"
        link(rel='stylesheet', href='/stylesheets/index.css')
body
    div
        script.
            function httpGet(theUrl) {
                var xmlHttp = new XMLHttpRequest();
                xmlHttp.open( "GET", theUrl, false ); // false for synchronous request
                xmlHttp.send( null );
                return xmlHttp;
            }
            var xml = httpGet("http://localhost:3000/user/sessionId");
            var username = xml.responseText;
            console.log("Username: ", username)

        if username == ""
            form(method="GET" action="/user/")
                button.login(type='submit') Login/Register
        else
            form(method="GET" action="/user/logout")
                button.login(type='submit') Logout
            p#status= "Successfully logged in as #{username}"
    div#content
        h1 Pantracker
        div#product-search
            h2 Search for products

            form(method="POST" action="/product/search")
                div
                    label Product:
                    input(type='text', name='productName')
                div
                    label Postcode:
                    input(type='text', name='postcode')
                div
                    label Depth:
                    input(type='text', name='depth')
                button.space(type='submit') Search
        div#postcode-search
            h2 Search for nearby stores
            form(method="GET" action="/stores/search/postcode")
                div
                    label Postcode:
                    input.searchTerm(type='text', name='postcode')
                    label Radius (km):
                    input.searchTerm(type='text', name='distance')
                button.space(type='submit') Search
