extends layout

 block content
     h1 Lecture5 Node and Express
     h2 Login
     h3 Error: #{error}

     form(method="POST" action="/search")
         div
             label Product:
             input(type='text', placeholder='apple' name='product')
         div
             label Postcode:
             input(type='password', name='postcode')
         button(type='submit') Login