extends layout

block content
    div#heading
        h1 #{name}
    div#map-container
        h3 Map of store
        div#map
        - function initMap() { var latlng = {lat:-37.815699, lng:144.955957}; var myOptions = {zoom: 13, center: latlng}; var map = new google.maps.Map(document.getElementById("map"), myOptions);};
        script(script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDyB-JHeX5-lGAklEsl4vpZvayACIcGX6k&callback=initMap")
    div#details
        h3 Store details
        p Store name: #{name}
        p Address: #{address}
        p Opening hours today: Still working on this function!
    div#rating
        h3 Store rating
        - var formatted_percent = percent.toFixed(2);
        p #{formatted_percent}% of users found what they were looking for at this store!
        p Did you find what you were looking for at this store?
        a(class="button", href="/stores/" + id + "/plus") Yes
        br
        a(class="button", href="/stores/" + id + "/minus") No
