* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    position: absolute;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/25/08/14/tangerines-3105628_1280.jpg");
    height: 100%;
    width: 100%;


}

header {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);

}

h1 {
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    margin: 0 0 0;
    padding: 20px 30px;
    text-transform: uppercase;
    position: absolute;
    top: 35%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
h2 {
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}


#content {
    width: 800px;
    background-color: #ffcc33;
    margin: auto;
}

#product-search {
    width: 400px;
    float: left;
    height: 300px;
    margin-top: 300px;
}


#postcode-search {
    width: 400px;
    float: left;
    height: 300px;
    margin-top: 300px;
}

form {
    color: darkblue;
    font-family: 'Open Sans Condensed', sans-serif;
}

button {
    border-radius:6px;
    display:inline-block;
    cursor:pointer;
    color:grey;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(255,255,255,0.5);
    margin-top: 5px;
}

form input[type=text] {
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 50%;
    background-color: rgba(255,255,255,0.5);
}

#search {
    width: 100%;
    position: relative;
}

.searchTerm {
    width: 100%;
    border-right: none;
    padding: 5px;
    height: 10px;
    border-radius: 5px 5px 5px 5px;
    outline: none;
    margin-left: 5px;
}


#footer {
    height: 40px;
    position: fixed;
    bottom:0%;
    width:100%;
    color: white;
}
/* Background image from https://pixabay.com/photos/tangerines-fruit-orange-ripe-3105628/
