* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("https://cdn.pixabay.com/photo/2018/01/25/08/14/tangerines-3105628_1280.jpg");
    height: 100vh;
    width: 100vw;
}

header {
    position: relative;
    top: 50vh;
    left: 50vh;
    margin-right: -50vw;
    transform: translate(-50%, -50%);

}

h1 {
    text-align: center;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 13vh;
    text-shadow: 0.2vh 0.2vw 5vh #000000;
    font-weight: 700;
    line-height: 3vh;
    padding: 20vh 30vh;
    text-transform: uppercase;
    position: absolute;
    top: 35vh;
    left: 50vw;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    z-index: -2;
}

h2 {
    text-align: center;
    color: white;
    text-shadow: 0.2vh 0.2vw 6vh #000000;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
}


#content {
    width: 100vh;
    background-color: #ffcc33;
    margin: auto;
}

#product-search {
    width: 50vh;
    float: left;
    margin-top: 42vh;
}


#postcode-search {
    width: 50vh;
    float: left;
    margin-top: 42vh;
}

form {
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.25vh;
    text-shadow: 0.2vh 0.2vw 1.5vh #000000;
    font-weight: bold;
}

button {
    border-radius:6vh;
    display:inline-block;
    cursor:pointer;
    color:grey;
    font-size:2vh;
    font-weight:bold;
    padding:1vh 3.25vw;
    text-decoration:none;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: rgba(255,255,255,0.5);
    margin-top: 0.5vh;
    margin-right: 1.5vh;
}

form input[type=text] {
    margin-top: 1vh;
    margin-right: 1vw;
    font-size: 2vh;
    width: 14.01vw;
    background-color: rgba(255,255,255,0.5);
    z-index: 10;
}


#search {
    width: 25vw;
    position: relative;
}

.space {
    padding: 1vh 8.3vw;
}

.searchTerm {
    width: 100vw;
    border-right: none;
    padding: 1vh;
    height: 1.5vh;
    border-radius: 1.5vh 1.5vh 1.5vh 1.5vh;
    outline: none;
    margin-left: 1vh;
}



#footer {
    height: 40px;
    position: fixed;
    bottom:0%;
    width:100%;
    color: white;
}
/* Background image from https://pixabay.com/photos/tangerines-fruit-orange-ripe-3105628/
