html, body {
    margin: 0;
    padding: 0
}


#heading {
    color: #f1f1f1;
    text-align: center;
    padding: 1vh;
    background-image: url("../images/tangerines.jpg");
}

h1{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 5vh;
}

button {
    position: absolute;
    margin-left: 5vw;
}

h4{
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 2vh;
}
