html, body{
    margin: 0;
    height: 100vh;
}

#heading {
    padding: 1vh;
    color: #f1f1f1;
    text-align: left;
    background-image: url("../images/tangerines.jpg");
    z-index: -1;
    position: relative;
}

h1 {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    text-transform: uppercase;
    font-size: 5vh;
    z-index: -1;
}

#home {
    position: absolute;
    top: 0vh;
    left: 0vw;
    z-index: 2;
    font-size: 12vh;
}

#wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    position: fixed;
}

#details {
    width: 22vw;
    background: #ccc;
    padding: 1vw;
    height: 81.5vh;
    overflow-y: auto;
    font-family: 'Open Sans Condensed', sans-serif;
}

#map {
    background-color: #f1f1f1;
    padding: 1vw;
    height: 100vh;
}

h2 {
    text-align: center;
    font-size: 2.8vh;
    font-family: 'Open Sans Condensed', sans-serif;
}

#p1 {
    text-align: center;

}


.button {
    text-align: center;
    border-radius:6vh;
    display:inline-block;
    cursor:pointer;
    color:grey;
    font-size:2vh;
    font-weight:bold;
    padding:0.5vh 1.8vw;
    text-decoration:none;
    font-family: 'Open Sans Condensed', sans-serif;
    background-color: white;
    margin-right: 1.5vw;
}

